<template>
    <lightning-card title="Hello" icon-name="custom:custom14">
        <div class="slds-m-around_medium">
            Hello, {greeting}!
            Hello, {greeting}!
            Hello, {greeting 123}!
        </div>
    </lightning-card>
</template>
